nav {
    background-color: #333;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  nav ul li a:hover {
    color: #ddd;
  }
  